 
<div class="container-fluid" style="padding:0;height:100%" >

	<div style="display:none">
		<span>Total: {{incidents.length}}</span>
		  
		<input type="button" ng-click="addAllToMap()" value="Add all to Map" />
		<input type="button" ng-click="removeAllFromMap()" value="Remove all from Map" />
		<span>{{incidentsOnMap.length}}</span>  
		<input type='button' ng-click="addTestData()" value="Add Test Data" />
	</div>
	<chaukas-map  enable-filter-control="true"  data="incidentsOnMap" current-city="currentCity"  add-data-point="addIncidentToMap" map-center="currentCity.position" remove-data-point="removeIncidentFromMap" ></chaukas-map>

</div>
 