 
<div class="container-fluid" style="padding:0;height:100%" >

	<div style="display:none">
		<span>Total: {{incidents.length}}</span>
		  
		<input type="button" ng-click="addAllToMap()" value="Add all to Map" />
		<input type="button" ng-click="removeAllFromMap()" value="Remove all from Map" />
		<span>{{incidentsOnMap.length}}</span>  
		<input type='button' ng-click="addTestData()" value="Add Test Data" />
	</div>
	<chaukas-map  	enable-filter-control="true"  
					data="incidentsOnMap" 
					report-incident-point="reportIncident"
					map-zoom="currentCity.mapZoomLevel" 
					current-city="currentCity" 
					add-data-point="addIncidentToMap"  
					map-center="mapCenter" 
					remove-data-point="removeIncidentFromMap" >
	</chaukas-map>


	<style >
	 
	 	.on-map-panel {
	 		background-color: #FF6600;
	 		border: 1px solid #FFF;
	 		border-bottom: none;
	 		color: #FFF;
	 		cursor: pointer;
	 		margin-right:15px;  
	 		min-width: 50px;
	 		padding: 5px 15px;
	 		text-align: center;
	 		-ms-transform: rotate(270deg);
	 		-webkit-transform: rotate(270deg);
	 		transform: rotate(270deg);
		    -ms-transform-origin: right;
		    -webkit-transform-origin: right;
		    transform-origin: right;	 	
		    z-index: 1;	 
	 	}
	 	.on-map-panel.open {
			bottom: 10px;
			left:70%;
			top:40px !important;			 
			margin: 0;
			-ms-transform: none;
	 		-webkit-transform: none;
	 		transform: none; 
	 		overflow: auto;
		}
		.on-map-panel:hover{
			border: 1px solid #FFF;
			box-shadow: -3px -3px 1px rgba(236,141,77,.4);
		}
	 	.on-map-panel.shrink {
	 		margin-right: 3px;
	 		z-index: 2;
	 	}
	 	.on-map-panel.shrink:hover {	 		
			margin-right:15px;  
	 	}
	 	 
		.on-map-panel.right {
			position: absolute;
			right: 0;			
		}
		.on-map-panel.right.first {
			top: 50px;
		}
		.on-map-panel.right.second {
			top: 130px;
		}
		.on-map-panel.right.third {
			top: 222px;
		}	
		.on-map-panel .close-panel {
			right: 0;
		    position: absolute;
		    top: 0;
		    margin: 2px 5px;
		    font-size: medium;
		}		
		.on-map-list {			 
			 background-color: #FFF;
			 bottom: 10px;
			 color: #848484;	
			 direction: rtl;
			 left: 10px;
			 right: 10px;
			 overflow: auto;
			 position: absolute;
			 top: 30px;		 
		}
		
		.on-map-list ul {
		 	list-style: none;
		 	padding: 5px;
		 	text-align: left;
		}

		.form-report {
			direction: ltr;
			width: 100%;
		}
		.input-box{
			margin: 10px 25px;
		}
		.report-btn {
			float: left;
		}
		.divider-hr{
			position: relative;
		}
		.divider-hr:before{
			left:5%;
			right: 45%;
		}
		.divider-hr:after{
			left: 55%;
			right: 95%;
		}
		.divider-hr:before,.divider-hr:after{			
			border: 1px solid lightgray;
			content: '';
			position:absolute;
			top:50%;
			width: 40%;
		}
		div.current-location{
			position: relative;
		}
		img.current-location{
			position: absolute;
			right: 5%;
			top:5px;
			width: 24px;

		}
	</style>

	<div class="on-map-panel right first" ng-class="getPanelState(PANELS.report)" ng-click="onPanelClick(PANELS.report)">
		Report <div class="close-panel"  ng-show="openPanel==PANELS.report"  ng-click="closePanel()">X</div>
		
		<div ng-show="openPanel==PANELS.report"   class="on-map-list" >
 		   
 			<div class="form-report">
 				<div class="input-box current-location">
 					<img class="current-location"  src="/images/Current_Location.png"  ng-click="selectToCurrentLocation()" title="Current Location"> </img>
 					<input type="text" class="form-control" id="searchPlace" placeholder="Current Location"  ng-model="newIncident.autoCompletePlace" / >
 				</div>
 				<div class="input-box"><input type="text" class="form-control" id="title" placeholder="Enter news link" ng-model="newIncident.link" ng-blur="fetchLinkInfo()" /> </div>
 				<div class="divider-hr">or</div>
 				<div class="input-box"><input type="text" class="form-control" id="title" placeholder="Enter title" ng-model="newIncident.title" /> </div>
 				<div class="input-box"><textarea  rows="4" cols="50" class="form-control" id="desc" placeholder="Description" ng-model="newIncident.desc" ></textarea> </div>
 				
 				<div class="input-box report-btn"><button  class="btn btn-default" ng-click="reportNewIncident()">Report</button></div>
 			</div>  

			 
		</div>
	</div>

	<div class="on-map-panel right second" ng-class="getPanelState(PANELS.list)" ng-click="onPanelClick(PANELS.list)">
		Incidents    <div class="close-panel" ng-show="openPanel==PANELS.list" ng-click="closePanel()">X</div>
		<div ng-show="openPanel==PANELS.list"   class="on-map-list" >		 			 
			<ul>
				<li ng-repeat="inc in incidentsOnMap">					 
					<a   href="#/incidents/{{inc._id}} " > {{inc.title}} </a> 
				</li>
			</ul>
		</div>
	</div>
	
	<div class="on-map-panel right third" ng-class="getPanelState(PANELS.settings)" ng-click="onPanelClick(PANELS.settings)">
		Settings   <div class="close-panel" ng-show="openPanel==PANELS.settings" ng-click="closePanel()">X</div>
		<div ng-show="openPanel==PANELS.settings"   class="on-map-list" >		 			 
			Not implemented
		</div>
	</div>


</div>
 