<div class="container">
<style>
.login-body {
  background-image:url('../images/delhi1.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin:0;
  padding:0;
  overflow:hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px); 
  -moz-filter: blur(5px); 
  -o-filter: blur(5px); 
  -ms-filter: blur(5px);
   filter: blur(5px);
}
.center-form{
  width: 350px;  
  margin-top: 100px;
  padding: 15px;
}
.signup-or-separator {
  text-align: center;
}
.btn-login{
  background-color: #FF6600;
  color: #FFF;
}

.title-login {
  margin-top: 100px;
  color:#FFF;
  font-weight: bold;
  font-size: 22px;
}
.message-login {
  font-size:16px;
  font-weight: normal;
}
</style>
<div class="row">
   <div class="col-md-6">

      <div class="title-login title">
        cha
        <span class="logo">U
        <i class="fa fa-eye eye left-eye"></i>
        <i class="fa fa-eye eye right-eye"></i>
        </span>
        kas </span>

        <div class="message-login">Be the part of change. The change for Good! </br> Stay chaukas improve chaugirda</div>
      </div>
    </div>  
    <div class="col-md-6 center-form panel"  >
      <div class="panel-body">
        <h4 class="text-center"><i class="ion-log-in"></i> Log in</h4>

        <form name="loginForm" ng-submit="emailLogin()" novalidate>
          <div class="form-group has-feedback" ng-class="{ 'has-error': loginForm.email.$invalid && loginForm.email.$dirty }">
            <input server-error class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
            <span class="ion-at form-control-feedback"></span>
            <div class="help-block" ng-if="loginForm.email.$dirty" ng-messages="loginForm.email.$error">
              <div ng-message="required">Please enter your email</div>
              <div ng-message="server">{{errorMessage.email}}</div>
            </div>
          </div>

          <div class="form-group has-feedback" ng-class="{ 'has-error': loginForm.password.$invalid && loginForm.password.$dirty }">
            <input server-error class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
            <span class="ion-key form-control-feedback"></span>
            <div class="help-block" ng-if="loginForm.password.$dirty" ng-messages="loginForm.password.$error">
              <div ng-message="required">Please enter your password</div>
              <div ng-message="server">{{errorMessage.password}}</div>
            </div>
          </div>
          <div ng-bind="errorLogin">fds</div>
          <button type="submit" class="btn btn-block btn-login" ng-disabled="loginForm.$invalid">Log in</button>

          <br/>

          <p class="text-center text-muted">
            <small>Don't have an account yet? <a href="#/signup">Sign up</a></small>
          </p>

          <div class="signup-or-separator">
            <h6 class="text">or</h6>
            
          </div>
        </form>
        <div ng-bind="errorFb"></div>

        <a class="btn btn-block btn-social btn-facebook"  ng-click="authenticate('facebook')">
          <i class="fa fa-facebook"></i>

          Sign in with Facebook</a>        
      </div>
    </div>
   
</div>
</div>