<div style="padding:5px 0;margin-top:35px">
	<span>Total: {{rawData.length}}</span>

	<label ng-repeat="city in cityList">
		&nbsp;
	<input type="radio" ng-value="city" ng-model="$parent.selectedCity" ng-change="loadData()" name="{{city}}" ></input>{{city}}
	</label>

	<table class="table">
		<tr>
			<th>ID</th>
			<th>Date</th>
			<th>UTC</th>
			<th>Words</th>			
			<th>NER</th>
			<th>Locations</th>
			<th>Area</th>			
			<th>LINK</th>
		</tr>
		<tr ng-repeat="data in rawData | orderBy: 'data.date'" style="max-height:250px">
			 
		<td>{{data._id}}</td>
		<td><span  >{{data.date}}</span></td>
		<td><span  >{{data.date_utc}}</span></td>
		<td> 
			<ul ng-repeat="word in data.words">
				<li><span >{{word}} <span /></li>
			</ul>
		</td>
		
		<td> 
			<ul ng-repeat="entity in data.NER_Stan track by $index">
			 {{entity}}
			</ul>
 		</td>
 		<td> 
			<ul ng-repeat="entity in data.locations track by $index">
			<a target="_blank" href="https://www.google.com/maps/place/{{entity}} , {{data.area}} , India">{{entity}}</a>
			</ul>
 		</td>
		<td>	 {{data.area}}  </td>
		<td>	<a target="_blank" href="{{data.uri}}">{{data.title}}</a> </td>

		<td>
			<input type="checkbox" ng-model="readNews" value="Read" />
			<div ng-show="readNews">{{data.news}}</div>
		</td>

		</tr>
	</table>
</div>